div.bx-auth-service-form{
	background-color: #FFFFFF!important;
    border-top: 1px solid #D6D6D6!important;
	border-bottom: 0!important;
    clear: both;
    color: #000000;
    float: none;
    font-size: 12px;
    margin-top: 55px!important;
    padding: 14px!important;
    vertical-align: middle;
}